<!DOCTYPE html">
<html>
    <head>
        <script type="text/javascript" src="static/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="static/documentcloud/underscore-min.js"></script>
        <script type="text/javascript" src="static/documentcloud/backbone-min.js"></script>
        <script type="text/javascript" src="static/documentcloud/backbone-localstorage.js"></script>
        <script type="text/javascript" src="static/javascript/todo.js"></script>
    </head>
    <body>
    <h2>Backbone Todo Application</h2>
    <div id="todo-list">
    </div>
    </body>

</html>
